
<b><%= comment.name %></b>
<%= time_ago_in_words(comment.created_at) %>
<h5><%= comment.body %></h5>
<p><%= button_to 'Delete',[comment.post,comment], method: :delete, data:{confirm: 'Are you sure'} ,
  class:'btn btn-outline-danger btn-sm'%></p>
<hr>
